body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Alegreya", serif;
}

.sidebar {
  display: flex;
  position: relative;
  margin: 0;
  background-image: url("./images/traffic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.form-container {
  background-color: white;
  margin: 0;
  padding-bottom: 2rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin: 4vh 0;
  padding: 2vh 4vw;
  box-shadow: 4px 2px 3px #8b9da8;
  height: 33vh;
}

.form-header {
  grid-column: 1/3;
  font-weight: bold;
  font-size: 1.2rem;
}

.info-p {
  height: 15vh;
  padding: 10% 5% 0 5%;
  font-weight: bold;
  font-size: 1.2rem;
}

.credit-text {
  font-size: small;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.credit-text > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

.btn-login {
  padding-left: 36px;
}

button {
  padding: 10px 50px;
  color: white;
  font-weight: bold;
  background-color: #336481;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
